<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 案例展示 <span class="c-gray en">&gt;</span> 案例展示 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
    <section id="formAjax">
        <div class="text-c">
            <button onclick="removeIframe()" class="btn btn-primary radius">关闭选项卡</button>
            <span class="select-box inline" style="width: 150px;">
				<select class="select" name="type" id="type">
                    <option value="">全部</option>
					<option value="1" {if $param['type']==1}selected{/if}>文创产品</option>
                    <option value="2" {if $param['type']==2}selected{/if}>智慧政务</option>
                    <option value="3" {if $param['type']==3}selected{/if}>品牌营销</option>
				</select>
            </span>
            <input type="text" name="search" value="{$Think.get.search}" id="search" placeholder=" 案例名" style="width:250px" class="input-text">
            <button name="" id="search-btn" class="btn btn-success" type="button"><i class="Hui-iconfont">&#xe665;</i> 查找案例</button>
        </div>
    </section>
    <div class="cl pd-5 bg-1 bk-gray mt-20">
        <span class="l">
            <a class="btn btn-primary radius" data-title="添加案例" data-href="article-add.html" onclick="pagefull('添加案例','{:url("Cases/caseAdd")}')" href="javascript:;"><i class="Hui-iconfont">&#xe600;</i> 添加案例
            </a>
        </span>
        <span class="r">共有数据：<strong>{$page.count}</strong> 条</span> </div>
    <table class="table table-border table-bordered table-bg">
        <thead>
        <tr class="text-c">
            <th width="25">#</th>
            <th width="60">排序</th>
            <th width="160">案例图片</th>
            <th>案例标题</th>
            <th width="80">类型</th>
            <th width="60">状态</th>
            <th width="100">操作</th>
        </tr>
        </thead>
        <tbody>
        <form id="multi-check">
            {foreach $list as $li}
            <tr class="text-c userinfo">
                <td>{$li.id}</td>
                <td><input type="text" class="input-text text-c sort" value="{$li.sort}"></td>
                <td>
                    <div style="width: 160px;height: 80px;background-image: url('{if $li['pic']}/{$li.pic}{else /}/static/src/image/default.jpg{/if}');background-position: center;background-repeat: no-repeat;background-size: cover"></div>
                </td>
                <td>{$li.title}</td>
                <td>
                    {switch $li['type']}
                    {case 1}文创产品{/case}
                    {case 2}智慧政务{/case}
                    {case 3}品牌营销{/case}
                    {default /}其他
                    {/switch}
                </td>
                <td class="td-status">
                    {if $li['status'] == 1}
                    <span class="label label-success radius">已显示</span>
                    {else /}
                    <span class="label label-defaunt radius">已隐藏</span>
                    {/if}
                </td>
                <td class="td-manage">
                    {if $li['status'] == '1'}
                    <a style="text-decoration:none" onClick="news_hide(this,{$li.id})" href="javascript:;" title="隐藏">
                        <i class="Hui-iconfont">&#xe6de;</i>
                    </a>
                    {else /}
                    <a style="text-decoration:none" onClick="news_show(this,{$li.id})" href="javascript:;" title="显示">
                        <i class="Hui-iconfont">&#xe603;</i>
                    </a>
                    {/if}
                    <a style="text-decoration:none" onclick="pagefull('案例详情','{:url("Cases/caseDetail",array("id"=>$li["id"]))}')" class="ml-5" href="javascript:;" title="查看案例">
                        <i class="Hui-iconfont">&#xe6df;</i>
                    </a>
                    <a style="text-decoration:none" class="ml-5" onClick="news_del(this,{$li['id']})" href="javascript:;" title="删除">
                        <i class="Hui-iconfont">&#xe6e2;</i>
                    </a>
                </td>
            </tr>
            {/foreach}
        </form>
        <tr>
            <td colspan="10" id="page" class="text-r"></td>
        </tr>
        </tbody>
    </table>
</div>
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">

    var url = '{:url("Cases/caseList")}' + '?<?php echo $page["query"];?>';
    var curr = '{$page.curr}',totalPage = '{$page.totalPage}';
    if(totalPage > 1) {
        laypage({
            cont: 'page', //容器。值支持id名、原生dom对象，jquery对象。
            pages: totalPage, //通过后台拿到的总页数
            skip: false, //是否开启跳页
            skin: '#5a98de',
            curr: curr || 1, //当前页
            jump: function(obj, first){ //触发分页后的回调
                // console.log(obj)
                if(!first) {
                    window.location.href = url+'&page=' + obj.curr;
                }
            }
        });
    }

    $("#search-btn").click(function () {
        var search = $("#formAjax").find("#search").val();
        var type = $("#formAjax").find("#type").val();
        var str = '';
        if(search.length != '') {
            str += '&search=' + search;
        }
        if(type.length != '') {
            str += '&type=' + type;
        }
        window.location.href = '{:url("Cases/caseList")}' + '?' + str;
    });

    $(".sort").bind('input propertychange', function() {
        var id = $(this).parent().prev().text();
        var sort = $(this).val();
        var rule = /^[0-9]{0,10}$/;
        if(!rule.test(sort)) {
            // $(this).val('')
            alert('排序必须为数字,且不超过10位');
            return;
        }
        $.ajax({
            url:"{:url('Article/sortArticle')}",
            type:"post",
            data:{id:id,sort:sort},
            success:function(data) {
                console.log(data);
            },
            error: function(data) {
                console.log('system error')
            }
        })
    });

    /*下架*/
    function news_hide(obj,id){
        layer.confirm('确认要隐藏吗？',function(index){
            $.ajax({
                url:"{:url('Cases/caseHide')}",
                type:'post',
                dataType:'json',
                data:{id:id},
                success:function(data) {
                    console.log(data)
                    if(data.code == 1) {
                        $(obj).parents("tr").find(".td-status").html('<span class="label label-defaunt radius">已隐藏</span>');
                        $(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="news_show(this,'+id+')" href="javascript:;" title="显示"><i class="Hui-iconfont">&#xe603;</i></a>');
                        $(obj).remove();
                        layer.msg('已隐藏!',{icon: 1,time:1000});
                    }else {
                        layer.msg(data.data,{icon:2,time:1000})
                    }
                },
                error:function(data) {
                    layer.msg('请求失败!',{icon:5,time:1000})
                }
            })

        });
    }
    /*上架*/
    function news_show(obj,id){
        layer.confirm('确认要显示吗？',function(index){
            $.ajax({
                url:"{:url('Cases/caseShow')}",
                type:'post',
                dataType:'json',
                data:{id:id},
                success:function(data) {
                    console.log(data);
                    if(data.code == 1) {
                        $(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已显示</span>');
                        $(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="news_hide(this,'+id+')" href="javascript:;" title="隐藏"><i class="Hui-iconfont">&#xe6de;</i></a>');
                        $(obj).remove();
                        layer.msg('已显示!',{icon: 1,time:1000});
                    }else {
                        layer.msg(data.data,{icon:2,time:1000})
                    }
                },
                error:function(data) {
                    layer.msg('请求失败!',{icon:5,time:1000})
                }
            })

        });
    }

    /*分类-删除*/
    function news_del(obj,id){
        layer.confirm('确认要删除吗？',function(index){
            $.ajax({
                url: "{:url('Cases/caseDel')}",
                type: 'POST',
                dataType: 'json',
                data:{id:id},
                success: function(data){
                    console.log(data);
                    if(data.code == 1) {
                        $(obj).parents("tr").remove();
                        layer.msg('已删除!',{icon:1,time:1000});
                    }else {
                        layer.msg(data.data,{icon:2,time:1000});
                    }
                },
                error:function(data) {
                    console.log(data.msg);
                }
            });
        });
    }


</script>