<style>
    .thumbnail{ width:300px;}
</style>
<article class="page-container">
    <form class="form form-horizontal" id="formAjax">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">类型：</label>
            <div class="formControls col-xs-4 col-sm-4">
                <span class="select-box">
                    <select class="select" name="type" id="type">
                        <option value="1" {if $info['type'] == '1'}selected{/if}>PC</option>
                        <option value="2" {if $info['type'] == '2'}selected{/if}>H5</option>
                    </select>
                </span>
            </div>
            <div class="col-3">
            </div>
        </div>
        <div class="row cl" id="picsize">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span></label>
            <div class="formControls col-xs-8 col-sm-9">
                <span style="font-size: 16px">
                    (建议尺寸: 420*210)
                </span>
            </div>
        </div>
        <div class="row cl" id="pic">
            <label class="form-label col-xs-4 col-sm-2">
                <span id="btn-star" class="btn btn-primary btn-uploadstar radius ml-10">选择图片</span>
            </label>
            <div class="formControls col-xs-8 col-sm-9">
                <div class="uploader-thum-container">
                    <div id="fileList" class="uploader-list">
                        {if condition="$info['pic'] != ''"}
                        <img class="thumbnail" src="/{$info.pic}">
                        {/if}
                    </div>
                </div>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>标题：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$info.title}" placeholder="" id="title" name="title" maxlength="30">
                <input type="hidden" class="input-text" value="{$info.id}" placeholder="" id="slideid" name="slideid">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>跳转链接：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$info.url}" placeholder="" id="url" name="url" maxlength="255">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>状态：</label>
            <div class="formControls col-xs-8 col-sm-9 skin-minimal">
                <div class="radio-box">
                    <input name="status" type="radio" id="sex-1" value="1" {if $info['status'] == 1}checked{/if}>
                    <label for="sex-1">显示</label>
                </div>
                <div class="radio-box">
                    <input name="status" type="radio" id="sex-2" value="0" {if $info['status'] == 0}checked{/if}>
                    <label for="sex-2">隐藏</label>
                </div>
            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                <button class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 保存</button>
                <button onClick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
            </div>
        </div>
        <input type="file" name="file" id="file" style="display: none;">
    </form>

</article>


<script type="text/javascript" src="/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="/lib/jquery.validation/1.14.0/messages_zh.js"></script>

<script type="text/javascript" src="/lib/checkfile.js"></script>
<script type="text/javascript">
    $(function() {
        var isclick = true;

        $("#formAjax").validate({
            rules:{
                title:{
                    required:true,
                    maxlength:30
                }
            },
            onkeyup:false,
            focusCleanup:true,
            success:"valid",
            submitHandler:function(form){
                if(isclick === true) {
                    isclick = false;
                    $(form).ajaxSubmit({
                        type: 'post',
                        url: "{:url('Banner/slideMod')}" ,
                        success: function(data){
                            console.log(data);
                            // isclick = true
                            if(data.code == 1) {
                                layer.msg('修改成功!',{icon:1,time:1000},function () {
                                    window.parent.location.reload()
                                });
                            }else {
                                layer.msg(data.data,{icon:2,time:1000});
                                isclick = true
                            }
                        },
                        error: function(XmlHttpRequest, textStatus, errorThrown){
                            layer.msg('接口请求错误!',{icon:5,time:1000});
                            isclick = true
                        }
                    });
                }
            }
        });

        $("#btn-star").click(function(){
            $("#file").click();
        });

        $("#file").change(function(e){
            var img = e.target.files[0];
            if (typeof(img) == "undefined") {
                $("#file").val('');
                var src = '';
            }else {
                if(checkfile('file') !== true) {
                    $("#file").val('');
                    $("#fileList").html('');
                    return false
                }
                var src = window.URL.createObjectURL(img);
            }
            $("#fileList").html('<img class="thumbnail" src="'+src+'">');
        });


    })
</script>