<style>
    .thumbnail{ width:100px}
</style>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 轮播图  <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
    <section id="formAjax">
        <div class="text-c">
            <button onclick="removeIframe()" class="btn btn-primary radius">关闭选项卡</button>
            <span class="select-box inline" style="width: 150px;">
				<select class="select" name="type" id="type">
                    <option value="">全部</option>
					<option value="1" {if $param['type']==1}selected{/if}>PC端</option>
                    <option value="2" {if $param['type']==2}selected{/if}>H5端</option>
				</select>
            </span>
            <button name="" id="search-btn" class="btn btn-success" type="button"><i class="Hui-iconfont">&#xe665;</i> 查找</button>
        </div>
    </section>
    <div class="cl pd-5 bg-1 bk-gray mt-20">
        <span class="l">
            <a class="btn btn-primary radius" data-title="添加轮播图" data-href="article-add.html" onclick="pagefull('添加轮播图','{:url("Banner/slideAdd")}')" href="javascript:;"><i class="Hui-iconfont">&#xe600;</i> 添加轮播图
            </a>
        </span>
        <span class="r">共有数据：<strong>{$page.count}</strong> 条</span>
    </div>
    <div class="mt-20">
        <table class="table table-border table-bordered table-bg table-sort">
            <thead>
            <tr class="text-c">
                <th width="70">ID</th>
                <th width="80">排序</th>
                <th width="200">图片</th>
                <th width="200">具体描述</th>
                <th>链接地址</th>
                <th width="60">类型</th>
                <th width="60">状态</th>
                <th width="100">操作</th>
            </tr>
            </thead>
            <tbody>
            {foreach $list as $li}
            <tr class="text-c">
                <td>{$li.id}</td>
                <td><input type="text" class="input-text text-c sort" value="{$li.sort}"></td>
                <td>
                    <img class="thumbnail" src="/{$li.pic}">
                </td>
                <td class="text-c">{$li.title}</td>
                <td class="text-l">{$li.url}</td>
                <td>
                    {switch $li['type']}
                        {case 1}PC端{/case}
                        {case 2}H5端{/case}
                        {default /}其他
                    {/switch}
                </td>
                <td class="td-status">{if condition="$li['status'] == 1"}<span class="label label-success radius">已启用</span>{else /}<span class="label label-defaunt radius">已禁用</span>{/if}</td>
                <td class="f-14 product-brand-manage">
                    {if condition="$li['status'] == 1"}
                    <a style="text-decoration:none" class="ml-5" style="text-decoration:none" onClick="slide_stop(this,{$li['id']})" href="javascript:;" title="禁用">
                        <i class="Hui-iconfont">&#xe6de;</i>
                    </a>
                    {else /}
                    <a style="text-decoration:none" class="ml-5" style="text-decoration:none" onClick="slide_start(this,{$li['id']})" href="javascript:;" title="启用">
                        <i class="Hui-iconfont">&#xe603;</i>
                    </a>
                    {/if}
                    <a style="text-decoration:none" class="ml-5" onClick="slide_edit('轮播图编辑','{:url("Banner/slideDetail",array("id"=>$li["id"]))}')" href="javascript:;" title="编辑">
                        <i class="Hui-iconfont">&#xe6df;</i>
                    </a>
                    <a style="text-decoration:none" class="ml-5" onClick="slide_del(this,'{$li.id}')" href="javascript:;" title="删除">
                        <i class="Hui-iconfont">&#xe6e2;</i>
                    </a>
                </td>
            </tr>
            {/foreach}

            </tbody>
        </table>
    </div>
</div>

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript" src="/lib/checkfile.js"></script>
<script type="text/javascript">

    var url = '{:url("Banner/slideList")}' + '?<?php echo $page["query"];?>';
    var curr = '{$page.curr}',totalPage = '{$page.totalPage}';
    if(totalPage > 1) {
        laypage({
            cont: 'page', //容器。值支持id名、原生dom对象，jquery对象。
            pages: totalPage, //通过后台拿到的总页数
            skip: false, //是否开启跳页
            skin: '#5a98de',
            curr: curr || 1, //当前页
            jump: function(obj, first){ //触发分页后的回调
                // console.log(obj)
                if(!first) {
                    window.location.href = url+'&page=' + obj.curr;
                }
            }
        });
    }

    $("#search-btn").click(function () {
        var type = $("#formAjax").find("#type").val();
        var str = '';
        if(type.length != '') {
            str += '&type=' + type;
        }
        window.location.href = '{:url("Banner/slideList")}' + '?' + str;
    });


    $(function () {

        $(".sort").bind('input propertychange', function() {
            var id = $(this).parent().prev().text();
            var sort = $(this).val();
            var rule = /^[0-9]{0,10}$/;
            if(!rule.test(sort)) {
                // $(this).val('')
                alert('排序必须为数字,且不超过10位');
                return;
            }
            $.ajax({
                url:"{:url('Banner/sortSlide')}",
                type:"post",
                data:{id:id,sort:sort},
                success:function(data) {
                    console.log(data)
                },
                error: function(data) {
                    console.log('system error')
                }
            })
        });

    });
    /*图片-编辑*/
    function slide_edit(title,url){
        var index = layer.open({
            type: 2,
            title: title,
            content: url,
            area: ['100%','100%']
        });
    }

    /*图片-删除*/
    function slide_del(obj,id){
        layer.confirm('确认要删除吗？',function(index){
            $.ajax({
                url: "{:url('Banner/slide_del')}",
                type: 'POST',
                dataType: 'json',
                data:{slideid:id},
                success: function(data){
                    console.log(data);
                    if(data.code == 1) {
                        $(obj).parents("tr").remove();
                        layer.msg('已删除!',{icon:1,time:1000});
                    }else {
                        layer.msg('删除失败!',{icon:2,time:1000});
                    }
                },
                error:function(data) {
                    console.log(data.msg);
                }
            });
        });
    }

    /*图片-禁用*/
    function slide_stop(obj,id){
        layer.confirm('确认要禁用吗？',function(index){
            $.ajax({
                url:"{:url('Banner/slide_stop')}",
                type:'post',
                dataType:'json',
                data:{slideid:id},
                success:function(data) {
                    console.log(data);
                    if(data.code == 1) {
                        $(obj).parents("tr").find(".product-brand-manage").prepend('<a style="text-decoration:none" class="ml-5" onClick="slide_start(this,'+id+')" href="javascript:;" title="启用"><i class="Hui-iconfont">&#xe603;</i></a>');
                        $(obj).parents("tr").find(".td-status").html('<span class="label label-defaunt radius">已禁用</span>');
                        $(obj).remove();
                        layer.msg('已禁用!',{icon: 1,time:1000});
                    }else {
                        layer.msg(data.message,{icon:2,time:1000})
                    }
                },
                error:function(data) {
                    layer.msg('请求失败!',{icon:5,time:1000})
                },
            })

        });
    }

    /*图片-启用*/
    function slide_start(obj,id){
        layer.confirm('确认要启用吗？',function(index){
            $.ajax({
                url:"{:url('Banner/slide_start')}",
                type:'post',
                dataType:'json',
                data:{slideid:id},
                success:function(data) {
                    console.log(data)
                    if(data.code == 1) {
                        $(obj).parents("tr").find(".product-brand-manage").prepend('<a style="text-decoration:none" class="ml-5" onClick="slide_stop(this,'+id+')" href="javascript:;" title="禁用"><i class="Hui-iconfont">&#xe6de;</i></a>');
                        $(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已启用</span>');
                        $(obj).remove();
                        layer.msg('已启用!',{icon: 1,time:1000});
                    }else {
                        layer.msg(data.message,{icon:2,time:1000})
                    }
                },
                error:function(data) {
                    layer.msg('请求失败!',{icon:5,time:1000})
                },
            })
        });
    }


</script>